<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidmacconnector.androidapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidToMacContinuity">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.SignInActivity" />
        <activity android:name=".devices.RegisterDeviceActivity" />
        <activity android:name=".auth.SignUpActivity" />
        <activity android:name=".devices.DeviceDetailsActivity" />
        <activity android:name=".settings.SettingsActivity" />

        <!-- The broadcast receiver for SMS messages -->
        <receiver
            android:name=".sms.receiver.ReceivedSmsReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- The firebase messaging service -->
        <service
            android:name=".fcm.FcmService"
            android:exported="false"
            android:permission="">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="true" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" /> <!-- It is required for FCM notifications to be sent to a particular channel -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id" /> <!-- The MQTT service -->
        <service android:name=".mqtt.MQTTService" />

        <receiver
            android:name=".ping.IncomingPingReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".sms.sender.SendSmsReceiver"
            android:enabled="true"
            android:exported="true" />

        <!-- Receive and respond to sms queries -->
        <receiver
            android:name=".sms.threads.ReadSmsThreadsReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".sms.messages.ReadSmsMessagesReceiver"
            android:enabled="true"
            android:exported="true" />

        <!-- Listen to app notifications -->
        <service android:name=".notifications.NotificationsListener"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>